# URL Web App Google Apps Script dari menu Deploy -> New Deployment -> Web app (Who has access: Anyone)
VITE_API_URL=https://script.google.com/macros/s/AKfycbxYOUR_DEPLOYMENT_ID/exec

# Mode Demo / Mock Data jika belum menghubungkan Google Apps Script (true/false)
VITE_USE_MOCK=false

# Nama Aplikasi
VITE_APP_NAME="FinCorp"
